@media only screen and (max-width:480px) {
    .container{
        width:100%;
        .wrapper{
            width:100%;
        }
    }
}

@media only screen and (min-width:481px) {
    .container{
        width:100%;
        .wrapper{
            width:100%;
        }
    }
}

@media only screen and (min-width:769px) {
    .container{
        width:80%;
        .wrapper{
            width:50%;
        }
    }
}

@media only screen and (min-width:1025px) {
    .container{
        width:60%;
        .wrapper{
            width:50%;
        }
    }
}

@media only screen and (min-width:1201px) {
    .container{
        width:50%;
    }
}
/*
320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: width: 70%;.
    1201px and more — Extra large screens, TV.
*/

body
{
    background: url(Bilder/Startseite.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width:100%;
    padding:10px 30px;
    background-color: #286DBE;
    max-height: 80px;

    img {
        max-width: 100px;
    }

    .dropdown {
        
        float:right;
        padding: 0 40px;
        text-align: center;
        min-height: max-content;
        

        .dropbtn {
            border-left: solid white;
            padding: 0px 5px;
            text-decoration: none;
            color: white;
        }
    }

}
* 


{
    box-sizing: border-box;
}
.container {
    margin: auto;
    position: relative;
    border-radius: 5px;
    background-color: rgba(242,242,242,0.8);
    padding: 10px 10px 20px 10px;
    background-color: #286DBE;
    display:flex;
    flex-wrap:wrap;

    .wrapper{
        
        padding:15px 20px;
    }
} 
img{
    max-width: 100%;
}

.person{
    border:1px solid white;
    border-radius: 8px;
    background-color: #347cce;

    .image{
        padding: 10px;
        padding-top: 30px;
        text-align: center;

        img {
            border-radius:50%;
            max-width:100%;
            width:auto;
            max-height: 400px;
        }
    }

    .text{
        text-align: center;
        padding: 20px 10px;
        color:white;
    }

    .link{
        padding: 20px 10px;
        text-align: center;

        a {
            display: block;
            
            box-shadow: rgba(98, 202, 38, 0.692) 0 7px ;
            background-color: rgba(123, 255, 47, 0.692);
            border-radius: 6px;
            text-align: center;
            color: black;
            text-decoration: none;
            padding:10px;
            margin-bottom: 7px;
        }
        a:hover{
            margin-top: 7px;
            margin-bottom: 0;
            box-shadow: rgba(98, 202, 38, 0.692) 0 0 ;
        }
    }
}

input, 
.btn 
{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}
input:hover, 
.btn:hover 
{
    opacity: 1;
}
/* style the submit button */
input[type=submit] 
{
    background-color: #286DBE;
    color: white;
    cursor: pointer;
}
table
{
    width: 100%;
    text-align: center;
}
td
{
    width: 50%;
    text-align: center;
}
form i 
{
    margin-left: -30px;
    cursor: pointer;
}