@media only screen and (max-width:480px) {
    nav {
        .block {
            visibility: hidden;
        }
    }

    .container {
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;

        .wrapper {
            width: 100%;
        }

        .formwrapper {
            margin: 10px 7%;
        }

        .searchhome {
            margin: 40px 5px
        }
        &:first-of-type{
            margin-top: 70px;
        }
    }

    .logo {
        padding: 0 4%;
    }
}

@media only screen and (min-width:481px) {
    nav {
        .block {
            visibility: hidden;
        }
    }

    .container {
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;

        .wrapper {
            width: 100%;
        }

        .formwrapper {
            margin: 10px 18%;
        }

        .searchhome {
            margin: 40px 10px
        }
        &:first-of-type{
            margin-top: 70px;
        }
    }

    .logo {
        padding: 0 8%;
    }
}

@media only screen and (min-width:619px) {

    nav {
        .block {
            visibility: hidden;
        }
    }

    .container {
        width: 80%;
        border-radius: 15px;
        margin-top: 100px;
        margin-bottom: 40px;

        .wrapper {
            width: 50%;
        }

        .formwrapper {
            margin: 10px 15%;
        }

        .searchhome {
            margin: 40px 25px
        }
        &:first-of-type{
            margin-top:150px ;
        }
    }

    .logo {
        padding: 0 18%;
    }
}

@media only screen and (min-width:736px) {

    nav {
        .block {
            visibility: hidden;
        }
    }

    .container {
        width: 80%;
        border-radius: 15px;
        margin-top: 100px;
        margin-bottom: 40px;

        .wrapper {
            width: 50%;
        }

        .formwrapper {
            margin: 10px 20%;
        }

        .searchhome {
            margin: 40px 25px
        }
        &:first-of-type{
            margin-top:150px ;
        }
    }

    .logo {
        padding: 0 20%;
    }
}

@media only screen and (min-width:836px) {
    nav {
        .block {
            visibility: visible;
        }
    }

    .container {
        width: 80%;
        border-radius: 15px;
        margin-top: 100px;
        margin-bottom: 40px;

        .wrapper {
            width: 50%;
        }

        .formwrapper {
            margin: 10px 25%;
        }

        .searchhome {
            margin: 40px 25px
        }
        &:first-of-type{
            margin-top:150px ;
        }
    }

    .logo {
        padding: 0 20%;
    }
    .searchbar {
        padding: 0 5%;
    }
}

@media only screen and (min-width:1025px) {
    nav {
        .block {
            visibility: visible;
        }
    }

    .container {
        width: 60%;
        border-radius: 15px;
        margin-top: 100px;
        margin-bottom: 40px;

        .wrapper {
            width: 50%;
        }

        .formwrapper {
            margin: 10px 25%;
        }

        .searchhome {
            margin: 40px 10px
        }
        &:first-of-type{
            margin-top:150px ;
        }
    }

    .logo {
        padding: 0 25%;
    }

    .searchbar {
        padding: 0 10%;
    }
}

@media only screen and (min-width:1381px) {
    nav {
        .block {
            visibility: visible;
        }
    }

    .container {
        width: 50%;
        border-radius: 15px;
        margin-top: 100px;
        margin-bottom: 40px;

        .wrapper {
            width: 50%;
        }

        .formwrapper {
            margin: 10px 27%;
        }

        .searchhome {
            margin: 40px 25px
        }
        &:first-of-type{
            margin-top:150px ;
        }
    }

    .logo {
        padding: 0 25%;
    }

    .searchbar {
        padding: 0 10%;
    }
}

/*
320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: width: 70%;.
    1201px and more — Extra large screens, TV.
*/

body {
    overflow-y: scroll;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../Bilder/Startseite.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    width: 100%;
    padding: 20px 40px;
    background-color: #286DBE;
    border-bottom: solid black;
    height: 90px;
    position: fixed;
    z-index: 1;

    img {
        max-width: auto;
    }

    .Rairlogo {
        width: 110px;
    }

    a {
        color: white;
        padding: 0px;
        text-align: left;
        font-size: large;
        text-decoration: none;
    }

    .block {
        float: right;
    }

    .dropdown {

        padding: 0px 30px;
        font-size: large;
        border-left: solid black;
        height: 50px;
        float: left;
        display: flex;

        &:last-child {

            padding: 0px 2px;
            padding-top: 0px;
            display: flex;
            margin-bottom: 0;

            .dropbtn {
                padding: 0px 10px;
                text-decoration: none;
                color: white;

                img {
                    float: left;
                    border-radius: 50%;
                    height: 40px;
                }

                h4 {
                    align-self: center;
                    margin-top: 4px;
                }
            }

        }

        &:hover {
            background-color: #286DBE;

        }

        .dropbtn {

            padding: 3px 15px;
            text-decoration: none;
            color: white;
        }

        .dropdown-content {
            margin-top: 50px;

            a:hover {
                background-color: lightgray;
            }
        }
    }

}

* {
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right:auto;
    position: relative;
    background-color: rgba(242, 242, 242, 0.8);
    padding: 15px 10px 20px 10px;
    background-color: #286DBE;
    display: flex;
    flex-wrap: wrap;

    color: white;

    .wrapper {

        padding: 15px 20px;
    }

    .formwrapper {

        .formfield {
            padding-top: 50px;
            width: 100%;

            input {
                border-radius: 10px;
                width: 100%;
            }
        }

    }

    .searchhome {
        width: 100%;
        justify-self: center;

        .logo {

            margin-top: 25px;
            margin-bottom: 50px;
            //margin: 25px 250px 50px 250px;
            width: 100%;
            float: inline-start;
        }

        .searchbar {
            width: 100%;
            justify-content: center;
            text-align: center;

            input {
                justify-self: center;
                border-radius: 27px;
            }
        }
    }

}

img {
    max-width: 100%;
}

.person {
    border: 1px solid white;
    border-radius: 8px;
    background-color: #347cce;

    .image {
        padding: 10px;
        padding-top: 30px;
        text-align: center;

        img {
            border-radius: 50%;
            max-width: 100%;
            width: auto;
            max-height: 400px;
        }
    }

    .text {
        text-align: center;
        padding: 20px 10px;
        color: white;
    }

    .link {
        padding: 20px 10px;
        text-align: center;

        a {
            display: block;

            box-shadow: rgba(98, 202, 38, 0.692) 0 7px;
            background-color: rgba(123, 255, 47, 0.692);
            border-radius: 6px;
            text-align: center;
            color: black;
            text-decoration: none;
            padding: 10px;
            margin-bottom: 7px;

            &:hover {
                margin-top: 7px;
                margin-bottom: 0;
                box-shadow: rgba(98, 202, 38, 0.692) 0 0;
            }
        }

    }
}

.Hundert,
input,
label,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    background-color: white;
    /* remove underline from anchors */

    &:hover {
        opacity: 1;
    }
}

/* style the submit button */
input[type=submit] {
    background-color: #286DBE;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    text-align: center;
}

td {
    width: 50%;
    text-align: center;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

li {
    float: right;
    padding-right: 0px;

    a {
        width: 160px;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
            background-color: #3d7dc7;
        }
    }
}

.dropbtn {
    width: 160px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover {
            background-color: #f1f1f1;
        }
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

//Nachhilfegeber
.container2 {
    width: 30%;
    margin: auto;
    position: relative;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.8);
    padding: 10px 10px 20px 10px;

    fieldset {
        border: 0;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px 10px 10px 10px;
        display: flex;
        align-items: center;

        img {
            width: 100px;
        }

        h1 {
            text-decoration: underline;
        }

        .big {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

fieldset {
    border: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    color: black;
}


table {
    width: 100%;
}

.tdimg {
    width: 10%;
    height: 1px;
}

.tdname {
    width: 60%;
}

.tdstunde {
    width: 30%;
}

td:first-of-type {
    width: 10%;
}

td:last-of-type {
    width: 8%;
}

td {
    width: 15%;
}

.Buchen {
    background-color: #286DBE;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

/* style the submit button */
.Hundert[type=submit] {
    background-color: #286DBE;
    color: white;
    cursor: pointer;
}

//Profilbearbeiten
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;

    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;

        &:hover {
            background-color: #ddd;
        }

        &:active {
            background-color: #ccc;
        }
    }
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    text-align: left;
}

hr {
    border: solid #286DBE;
}

.arrow {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #286DBE;
    color: white;
}


//User logo

.mid {
    position: relative;
    top: 4em;
}

.homemenu {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 6px;
    border: 2px;
    border-color: rgb(206, 206, 206);
}
